# Virtual environment
.venv/
venv/
env/


# Python 
__pycache__/
*.py[cod]
*.pyo 


# Django 
db.sqlite3
*.sqlite3 


# Environment variables / secrets 
.env 
.env.*


# IDEs
.idea/
.vscode 


# OS
.DS_Store
Thumbs.db


# Test / coverage
.coverage 
htmlcov/
.pytest_cache/